#list li {
    list-style: outside none none;
		width: 90%;
		padding: 8px;
         background-color: #CACACA;
         margin-top: 0;
	margin-right: auto;
	margin-bottom: 3px;
	margin-left: auto;
	border-top-left-radius: 10px 5px;
border-bottom-right-radius: 10px 5px;
border-top-right-radius: 10px 5px; 
border-bottom-left-radius: 10px 5px; 
border-width: 1px;

border-color: #000;
}

#list li.cobro {
	list-style: outside none none;
	width: 90%;
	padding: 8px;
			 background-color:rgb(233, 168, 93);
			 margin-top: 0;
margin-right: auto;
margin-bottom: 3px;
margin-left: auto;
border-top-left-radius: 10px 5px;
border-bottom-right-radius: 10px 5px;
border-top-right-radius: 10px 5px; 
border-bottom-left-radius: 10px 5px; 
border-width: 1px;

border-color: #000;
}

#list li.soporte {
	list-style: outside none none;
	width: 90%;
	padding: 8px;
			 background-color:rgb(95, 164, 243);
			 margin-top: 0;
margin-right: auto;
margin-bottom: 3px;
margin-left: auto;
border-top-left-radius: 10px 5px;
border-bottom-right-radius: 10px 5px;
border-top-right-radius: 10px 5px; 
border-bottom-left-radius: 10px 5px; 
border-width: 1px;

border-color: #000;
}

#list li button {
	background-color: #6c6b6b;

color: white;

border-top-left-radius: 5px 5px;

border-bottom-right-radius: 5px 5px;

border-top-right-radius: 5px 5px;

border-bottom-left-radius: 5px 5px;

border-width: 1px;

padding: 5px;
margin-left: 10px;

}

#list li .checkbox {
	background-color: #6c6b6b;

color: white;

border-top-left-radius: 5px 5px;

border-bottom-right-radius: 5px 5px;

border-top-right-radius: 5px 5px;

border-bottom-left-radius: 5px 5px;



margin-left: 10px;

}

.inputform{
	border-color: rgba(34,36,38,.35);
	box-shadow: none;
	width: 100%;
	display: block;
	border-style: solid;
	height: 30px;
	border-width: 1px;
}

.submitform{
	margin-top: 20px;
	border-color: rgba(34,36,38,.35);
	box-shadow: none;
	width: 100%;
	display: block;
	border-style: solid;
	height: 30px;
	border-width: 1px;
}

.calendar.calendar {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	font-size: 10px;
	width: 100px;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #ebebeb!important;
	border: none;
	box-sizing: border-box;
	margin-top: 22px;
	box-shadow: none;
	font-family: Open Sans,sans-serif;

}

.gmTeoB {
	z-index: 10000;
}